.DS_Store
teaching/.DS_Store
wlo/.DS_Store
docs/.DS_Store
.DS_Store
docs/.DS_Store
.DS_Store
__pycache__/
.DS_Store
docs/.DS_Store
teaching/.DS_Store
teaching/403/.DS_Store
teaching/503/.DS_Store
wlo/.DS_Store
